body{
}
img {
	max-width: 100%;
}

h5{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20%;
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px 5px black;
  letter-spacing: 1.5px;
}

span{

}

h6{
  font-size: 140%;
}

.container{
  text-align: center;
}

.plank{
    color: black;

    //background-image: url('../photos/plank.jpg');
    background-size: 100% auto; 
    background-repeat: no-repeat;
    width: 90%;
    max-width: 700px;
    top: 0;
    margin: 0 auto;

}
h1 {
	position: relative;
	margin:0;
	text-align: center;
	padding: 50px 0;
	color: #1c1105;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
	z-index: 10;
}
h6 {text-align: center;}

.carousel{
  text-align: center;
  margin-top: -75px
}
.carousel img{
  height: 200px;
  width: 200px;
}

footer.page-footer{
  background-color: #212121;
}
div.card-panel{
  /* background-image: url('../photos/wood.jpg'); */
}
#complaint-tabs {
	max-width: 700px;
	margin: -50px auto 0;
	display: none;
}
#complaint-list, #add-complaint {
    padding: 2em 0;
    background-color: #f2f2f2;
    /*background-color: #ccc;
    z-index: 100;
	position: relative;
	max-width: 700px;
	margin: -50px auto 0;*/
}
.tabs .tab a {
	color: #363636;
}
.tabs .tab a:hover {
	color: #ccc;
}
#complaint-list p, #new-complaint p {
	text-align: center;
	cursor: pointer;
	font-size: 1.25em;
	color: #363636;
}
.tabs .indicator {
	display: none;
	color: #26a69a;
}
.tab {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.tabs .active {
	background-color: #f2f2f2;
}

#apiInfo img {
	height: 400px;
    width: auto;
}
#apiInfo h2 {
	padding: 1em 0;
}
label, input {
	width: 100%;
	margin: 10px 0;
	font-family: arial, sans-serf;
	font-size: 1.25em;
}
input[type=text], input[type=email]  {
	min-height: 30px;
	margin-top: 1em;
}
button {
	text-transform: uppercase;
	margin-top: .5em; 
	padding: 10px 20px;
	background-color: #ccc;
	border: none;
}
form button {
	display: block;
	text-transform: uppercase;
	margin: .5em auto; 
	padding: 10px 20px;
	background-color: #ccc;
	border: none;
	clear: both;
}
#new-complaint {
	padding: .5em;
	max-width: 500px;
	margin: auto;
}
.modal-footer {
	background-color: #f2f2f2!important;
	text-align: center;
	height: auto!important;
}
#modal2 {
	text-align: center;
	padding: 1.5%!important;
}
.modal {
	max-height: 87%!important;

}
.display-none {
	display: none!important;
}
.display-block {
	display: block!important;
}
.choose {
	text-align: center;
	font-size: 1.25em;
	text-transform: uppercase;
}
.lego-man {
	width: auto!important;
    height: 175px!important;
    bottom: 0;
    right: 0;
    position: absolute;
}
#apiInfo h2 {
	margin-bottom: 150px;
}
.instructions {
	background-color: #f3d032;
}
header {
	position: relative;
	z-index: 0;
}