h5{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20%;

}

.container{
  text-align: center;
}

.carousel{
  text-align: center;
  margin-top: -100px
}

h6{
  font-size: 140%;
}
#complaint-list {
	margin-top: -50px;
    padding: 1em;
    background-color: #ccc;
    z-index: 100;
	position: relative;
}
#complaint-list p {
	text-align: center;
	cursor: pointer;
}



label, input {
	width: 100%;
	margin: 10px 0;
	font-family: arial, sans-serf;
}
input {
	min-height: 30px;
	margin-bottom: 1em;

}

button {
	text-transform: uppercase;
	padding: 10px 20px;
	background-color: #ccc;
	border: none;
}
#new-complaint {
	padding: .5em;
	max-width: 500px;
	margin: auto;
}